#mainLogo{
    display: block;
    margin: 0 auto;
    width: 28%;
    margin-top: 5%;
}

#getStarted{
    display: block;
    margin: 0 auto;
}

#slogan{
    text-align: center;
}

p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #4b636e;
    letter-spacing: 10px;
    font-size: 58px;
    font-weight: bolder;
}

